{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% translate "Company Name" %}</title>
</head>
<body>
<div
    style="display: flex; flex-direction: column; justify-content: space-between; justify-items: center; margin-inline: 16rem;">
  <h1>L10n Bug - Accept-Language Header takes precedence over language set with cookie when rendering input fields</h1>

  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="Go">
  </form>
  {% block content %}{% endblock %}
</div>
</body>
</html>
