{% extends 'base.html' %}
{% load l10n %}
{% block content %}
  <div>
    <hr>
  </div>
  <h2>Accept-Language Header</h2>
  <div>
    <p style="color: #868686">Chrome Browser injects it's lists of ranked display languages with priorities. If you change browsers display language, that will change.</p>
    <p style="color: #868686; text-decoration: underline;">This list of locales takes precedence, when rendering date input form fields.</p>
    <p>Accept-Language: {{ request.META.HTTP_ACCEPT_LANGUAGE }}</p>
    <hr>
  </div>
  <h2>Django Language Cookie</h2>
  <div>
    <p>'django_language' cookie value: {{ request.COOKIES.django_language }}</p>
    <hr>
  </div>
  <div>
  <h2>ModelForm</h2>
    <p style="font-weight: 700;">form.as_p</p>
  {{ form.as_p }}
  </div>
  <div>
    <hr>
  </div>
  <div style="display: flex; flex-direction:column;justify-content: space-between">
    <h2>Using 'localize' template tag/filter on a field doesn't work either</h2>
    <div>Using all possible combinations of
      <a href="https://docs.djangoproject.com/en/4.2/topics/i18n/formatting/#template-tags">
        template tags
      </a>
         and
      <a href="https://docs.djangoproject.com/en/4.2/topics/i18n/formatting/#template-filters">
        template filters
      </a>
    </div>
  </div>

  <div style="display: flex; flex-direction: column;">

    <span>
      {{ form.borrowed_to_date }}
    </span>

    <span>
      {{ form.borrowed_to_date|localize }}
    </span>

    <span>
      {% localize off %}
        {{ form.borrowed_to_date }}
      {% endlocalize %}
    </span>

    <span>
      {% localize off %}
        {{ form.borrowed_to_date }}
      {% endlocalize %}
    </span>

    <span>
      {% localize on %}
        {{ form.borrowed_to_date }}
      {% endlocalize %}
    </span>

  </div>
{% endblock %}